.page-numbers {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.control-btn {
  background-color: transparent;
  color: coral;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto';
}
.page-no {
  color: black;
  font-size: 18px;
  font-family: 'Roboto';
}
