.view-details-btn {
  height: 40px;
  width: 200px;
  font-size: 18px;
  font-family: 'Roboto';
  color: rgb(237, 247, 247);
  background-color: rgb(63, 63, 203);
  border: none;
  outline: none;
  cursor: pointer;
}
.btn {
  text-align: center;
}
.movie-card-container {
  display: flex;
  flex-direction: column;
}
.movie-card-image {
  width: 120px;
}
.movie-title {
  padding-top: 5px;
  font-size: 20px;
  font-family: 'Roboto';
  color: darkslateblue;
}
.movie-rating {
  padding-top: 5px;
  font-size: 20px;
  font-family: 'Roboto';
  color: darkslateblue;
}
